.about {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2px;
}

.title {
  color: #c6c6c6;
  padding: 32px 0px 0px 8px;
  border-bottom: 1px solid #c6c6c6;
  left: 12%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  position: absolute;
  @media (min-width: 340px) {
    top: 64%;
  }
  @media (min-width: 640px) {
    top: 32%;
  }
  @media (min-width: 768px) {
    top: 16%;
  }
  @media (min-width: 1024px) {
    top: 8%;
  }
}
