.project-thumb {
  width: 100%;
  height: auto;
  max-width: 256px;
  max-height: 256px;
  justify-self: center;
  align-self: center;
  margin-right: 0.5rem;
}

.project-body {
    &-left {
      display: grid;
      grid-template-columns: 40% 60%;
    }
    &-right {
      display: grid;
      grid-template-columns: 60% 40%;
    }
}

.project-content {
  margin: 1rem;
}
