.projects {
  position: absolute;
  left: 0px;
  top: 8em;
}

.project-thumb {
  width: 100%;
  height: auto;
  max-width: 256px;
  max-height: 256px;
  justify-self: center;
  align-self: center;
}

.project-body-left {
  display: grid;
  grid-template-columns: 40% 60%;
}

.project-body-right {
  display: grid;
  grid-template-columns: 60% 40%;
}
