.project-thumb {
  width: 100%;
  height: auto;
  max-width: 128px;
  max-height: 128px;
  justify-self: center;
  align-self: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.project-body {
  &-left {
    display: grid;
    grid-template-columns: 32% 1fr;
  }
  &-right {
    display: grid;
    grid-template-columns: 1fr 32%;
  }
}

.project-content {
  margin: 1rem;
  
  p {
    @media (min-width: 640px) {
      height: 6em;
    }
    /* Medium (md) */
    @media (min-width: 768px) {
      height: 6em;
    }
    /* Large (lg) */
    @media (min-width: 1024px) {
      height: 6em;
    }
    /* Extra Large (xl) */
    @media (min-width: 1280px) {
      height: 6em;
    }
  }

  button {
    margin-right: 0.5em;
  }
}
