/* Colors */
$gray1: #e0e0e0;
$gray2: #c6c6c6;
$gray3: #a8a8a8;
$gray4: #8d8d8d;
$gray5: #6f6f6f;
$gray6: #525252;
$gray7: #393939;
$gray8: #262626;
$gray9: #131313;

$blue5: #0043ce;
$red5: #da1e28;
$green5: #24a148
