@import 'variables';

/* Button Sizes */

.bt {
  text-align: center;
  display: inline-block;

  &-s {
    transition: all 0.2s;
    border-radius: 2px;
    border-width: 4px;
    width: 64px;
    height: 32px;
    padding: 1px;
    margin: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  &-m {
    transition: all 0.2s;
    width: 128px;
    height: 32px;
    padding: 4px;
    margin: 4px;
    font-size: 15px;
    border-radius: 2px;
    border-width: 4px;
    cursor: pointer;
  }

  &-l {
    transition: all 0.2s;
    width: 256px;
    height: 64px;
    padding: 8px;
    margin: 4px;
    font-size: 19px;
    border-radius: 2px;
    border-width: 8px;
    cursor: pointer;
  }
}

/* Button styles */

.bt {
  &-blue {
    $base: $blue5;
    $text: $gray2;
    background-color: $base;
    border-style: solid;
    border-color:  $base;
    color: $text;

    &:hover {
      background-color: lighten($color: $base, $amount: 20%);
      color: lighten($color: $text, $amount: 20%);
      box-shadow: 0 0 4px 1px $base;
    }

    &:active {
      background-color: darken($color: $base, $amount: 10%);
      border-color: $base;
      color: darken($color: $text, $amount: 70%);
      box-shadow: none;
    }
  }

  &-gray {
    $base: $gray4;
    $text: $gray1;
    background-color: $base;
    border-style: solid;
    border-color:  $base;
    color: $text;

    &:hover {
      background-color: lighten($color: $base, $amount: 20%);
      color: lighten($color: $text, $amount: 20%);
      box-shadow: 0 0 4px 1px $base;
    }

    &:active {
      background-color: darken($color: $base, $amount: 10%);
      border-color: $base;
      color: darken($color: $text, $amount: 70%);
      box-shadow: none;
    }
  }

  &-red {
    $base: $red5;
    $text: $gray2;
    background-color: $base;
    border-style: solid;
    border-color:  $base;
    color: $text;

    &:hover {
      background-color: lighten($color: $base, $amount: 20%);
      color: lighten($color: $text, $amount: 20%);
      box-shadow: 0 0 4px 1px $base;
    }

    &:active {
      background-color: darken($color: $base, $amount: 10%);
      border-color: $base;
      color: darken($color: $text, $amount: 70%);
      box-shadow: none;
    }
  }

  &-green {
    $base: $green5;
    $text: $gray2;
    background-color: $base;
    border-style: solid;
    border-color:  $base;
    color: $text;

    &:hover {
      background-color: lighten($color: $base, $amount: 20%);
      color: lighten($color: $text, $amount: 20%);
      box-shadow: 0 0 4px 1px $base;
    }

    &:active {
      background-color: darken($color: $base, $amount: 10%);
      border-color: $base;
      color: darken($color: $text, $amount: 70%);
      box-shadow: none;
    }
  }
}
