@import '../../styles/variables';

.curriculum {
  position: absolute;
  left: 0px;
  top: 18%;
}

.carousel {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  justify-items: center;
}

.carousel-item {
  display: flex;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.skill-item {
  $base: $blue5;
  transition: all 0.2s;
  margin-top: 8px;

  &:hover {
    color: $base;
  }
}

.skills-container {
  margin-left: 2em;
}

.skill-title {
  margin-left: 0.5em;
}

.responsive-img {
  width: 100%;
  height: auto;
  max-width: 512px;
  max-height: 256px;
}
