<div class="component">
  <div class="col">
    <h2>Work History</h2>
    <div class="tabs">
      <div class="tab" *ngFor="let w of work; index as i; first as isFirst">
        <input type="radio" id="work{{i}}" name="rd">
        <label class="tab-label" for="work{{i}}">{{w.name}}</label>
        <div class="tab-content">
          <h2>Description:</h2>
          <p>{{w.description}}</p>
          <h2>Main results:</h2>
          <p>{{w.results}}</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    DEGREES
  </div>
</div>


