<div class="component">
  <div class="text-content">
    <p>{{ info.greet }}</p>
    <p>{{ info.experience }}</p>
    <p>{{ info.work }}</p>

    <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/15189734" alt="badge-percipio">
    <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/15189782" alt="badge-percipio">
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="961793d4-9ec7-4823-a7c9-8a28648d52bf" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
  </div>
</div>

