<header>
  <div class="bx--grid bx--grid--condensed">
    <div class="bx--row">
      <div class="bx--col-lg bx--col-md-3 bx--col-sm-12">
        <button class="bx--btn bx--btn--primary" type="button">About me</button>
      </div>
      <div class="bx--col-lg bx--col-md-3 bx--col-sm-12">
        <button class="bx--btn bx--btn--primary" type="button">Curriculum</button>
      </div>
      <div class="bx--col-lg bx--col-md-3 bx--col-sm-12">
        <button class="bx--btn bx--btn--primary" type="button">Projects</button>
      </div>
      <div class="bx--col-lg bx--col-md-3 bx--col-sm-12">
        <button class="bx--btn bx--btn--primary" type="button">Contact</button>
      </div>
    </div>
  </div>
</header>


