<header>
  <div class="bx--grid bx--grid-condensed">
    <div class="bx--row">
      <div class="bx--col-lg bx--col-md-3 bx--col-sm-12">
        <button class="bx--btn bx--btn--primary" type="button" routerLink="/about">About me</button>
      </div>
      <div class="bx--col-lg bx--col-md-3 bx--col-sm-12">
        <button class="bx--btn bx--btn--primary" type="button" routerLink="/curriculum">Curriculum</button>
      </div>
      <div class="bx--col-lg bx--col-md-3 bx--col-sm-12">
        <button class="bx--btn bx--btn--primary" type="button" routerLink="/projects">Projects</button>
      </div>
      <div class="bx--col-lg bx--col-md-3 bx--col-sm-12">
        <button class="bx--btn bx--btn--primary" type="button" routerLink="/contact">Contact</button>
      </div>
    </div>
  </div>
</header>

<footer>
  <div class="bx--grid bx--grid-condensed">
    <div class="bx--row">
      <div class="bx--col-lg bx--col-md-6 bx--col-sm-12">
        <button class="bx--btn bx--btn--primary" type="button">Github</button>
      </div>
      <div class="bx--col-lg bx--col-md-6 bx--col-sm-12">
        <button class="bx--btn bx--btn--primary" type="button">LinkedIn</button>
      </div>
    </div>
  </div>
</footer>


