<header>
  <div class="cl-3 ji-c">
    <button class="bt-m bt-blue" type="button" routerLink="/about">About me</button>
    <button class="bt-m bt-blue" type="button" routerLink="/curriculum">Curriculum</button>
    <button class="bt-m bt-blue" type="button" routerLink="/projects">Projects</button>
    <!-- <button class="bt-m bt-blue" type="button" routerLink="/contact">Contact</button> -->
  </div>
</header>

<footer>
  <div class="cl-2 ji-c">
    <button class="bt-m bt-blue" type="button">Github</button>
    <button class="bt-m bt-blue" type="button">LinkedIn</button>
  </div>
</footer>
