<header>
  <div class="cl-3-f ji-c" style="max-height: 12%;">
    <div class="cl-2 rw-1">
      <button class="bt-s bt-blue" type="button">Github</button>
      <button class="bt-s bt-blue" type="button">LinkedIn</button>
    </div>
    <div class="cl-3 rw-1">
      <button class="bt-m bt-blue" type="button" routerLink="/about">About me</button>
      <button class="bt-m bt-blue" type="button" routerLink="/curriculum">Curriculum</button>
      <button class="bt-m bt-blue" type="button" routerLink="/projects">Projects</button>
    </div>
    <div class="cl-2 rw-1">
      <button class="bt-s bt-blue" type="button">Lang</button>
      <button class="bt-s bt-blue" type="button">Dark Mode</button>
    </div>

    <!-- <button class="bt-m bt-blue" type="button" routerLink="/contact">Contact</button> -->
  </div>
</header>
<!--
<footer>
  <div class="cl-2 ji-c" style="max-height: 12%;">
    <button class="bt-m bt-blue" type="button">Github</button>
    <button class="bt-m bt-blue" type="button">LinkedIn</button>
  </div>
</footer> -->
