@import './styles/columns';
@import './styles/rows';
@import './styles/buttons';
@import './styles/positioning';
@import './styles/accordion';
@import './styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
  background-color: $gray9;
  font-family: 'Roboto Mono', monospace;
  color: $gray2;
}

.content-card {
  background-color: $gray8;
  border-radius: 2px;
  margin: 0.2em;
  padding: 0.5em;
}

.card-title {
  border-bottom: 1px solid $gray2;
  border-bottom-left-radius: 4px;
}


