@import './styles/columns';
@import './styles/rows';
@import './styles/buttons';
@import './styles/positioning';
@import './styles/accordion';
@import './styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
  background-color: $gray9;
  font-family: 'Roboto Mono', monospace;
  color: $gray2;
  margin: 0;
  padding: 0;
}

.content-card {
  background-color: $gray8;
  border-radius: 2px;
  margin: 0.4rem;
  padding: 0.6rem;
}

.card-title {
  border-bottom: 1px solid $gray2;
  border-bottom-left-radius: 4px;
}

.component {
  position: absolute;
  top: 10rem;
  @media (min-width: 821px) {
    top: 6rem;
  }
  @media (min-width: 1279px) {
    top: 4rem;
  }
}

