.home {
  position: absolute;
  top: 8em;
}

.text {
  padding-left: 6rem;
  padding-bottom: 4rem;
}

.bt-positioned {
  justify-self: end;
}

.cont {
  height: auto;
  width: auto;
  max-width: 78vw;
  max-height: 512px;
  display: grid;
  margin-left: 0;
  @media (min-width: 415px) {
    margin-left: 5rem;
  }
}
