.home {
  position: absolute;
  top: 8em;
}

.text {
  &-major {
    font-size: 2rem;
    padding-left: 6rem;
    padding-bottom: 2rem;

    @media(min-width: 300px) {
      font-size: 1.5rem
    }
    @media(min-width: 500px) {
      font-size: 2rem
    }
    @media(min-width: 1024px) {
      font-size: 3rem
    }
  }
  &-minor {
    font-size: 1rem;
    padding-left: 6rem;
    padding-bottom: 2rem;

    @media(min-width: 300px) {
      font-size: 0.75rem
    }
    @media(min-width: 500px) {
      font-size: 1rem
    }
    @media(min-width: 1024px) {
      font-size: 1.5rem
    }
  }
}

.bt-positioned {
  justify-self: end;
  margin-left: 4rem;
}

.cont {
  height: auto;
  width: auto;
  max-width: 78vw;
  max-height: 512px;
  display: grid;
  margin-left: 0;
  padding-bottom: 16vw;
  @media (min-width: 415px) {
    margin-left: 5rem;
  }
}
