@import '~carbon-components/scss/globals/scss/styles.scss';

html, body {
  background-color: #131313;
}

.component {
  position: fixed;
  left: 13%;
  top: 28%;
  background-color: #262626;
  width: fit-content;
  height: fit-content;
  flex: initial;
}

button {
  width: 140px;
}
