@import './styles/columns';
@import './styles/rows';
@import './styles/buttons';
@import './styles/positioning';

html, body {
  background-color: #131313;
}

.component {
  position: fixed;
  left: 13%;
  top: 28%;
  background-color: #262626;
  width: fit-content;
  height: fit-content;
  flex: initial;
}

